# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).
# interfaces(5) file used by ifup(8) and ifdown(8)
#
# Please note that this file is written to be used with dhcpcd
# For static IP, consult /etc/dhcpcd.conf and 'man dhcpcd.conf'

# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d

# The loopback network interface
auto lo
iface lo inet loopback

# Set up interfaces manually, avoiding conflicts with, e.g., network manager
#iface eth0 inet manual

# bridge setup
auto br0
iface br0 inet manual
bridge_ports eth0 wlan0

# static bridge setup
#  iface br0 inet static
#    bridge_ports eth0 eth1
#        address 192.168.1.2
#        broadcast 192.168.1.255
#        netmask 255.255.255.0
#        gateway 192.168.1.1
